#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 10px 100px;
  background-color: #273439;

  // Logo Image
  .logoimg {
    .imagelogo {
      background-image: url(../img/logo.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
    }
  }
  // Logo Image

  //  Start Social Media Button
  .social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;

    

    .social-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      margin-top: 20px;
      a {
        width: 100%;
      }
    }
  }
  //  End Social Media Button
}
